* {
  margin: 0px;
  padding: 0px;
}
#calculator {
  background: linear-gradient(#cc2b5e, #f45c43, #ef629f);
  width: 100% !important;
  height: 100vh;
}
.container {
  max-width: 300px;
  margin: auto;
  padding: 0px 15px;
}
.wrapper {
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
#input {
  padding: 20px 20px;
  width: 82%;
  border: none;
  outline: none;
  margin-bottom: 20px;
  font-size: 40px;
  background: #3a3845;
  color: #ffffff;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#button {
  width: 60px !important;
  height: 60px !important;
  display: block;
  color: #ffffff;
  background: #3a3845;
  border-radius: 50%;
  padding: 10px;
  margin: 2px;
  font-size: 25px;
  font-weight: 500;
  border: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.text h2 {
  font-size: 30px;
  color: #ffffff;
  margin: 15px 0px;
  font-weight: 600;
}
